{% extends "ex01/base.html" %}

{% block title %}Ex01: Django, framework web{% endblock title %}

{% block content %}
    <h2>Introduction to Django</h2>
    <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Developed by a group of developers at the Lawrence Journal-World newspaper in 2003, Django was initially created to meet the fast-paced requirements of a newsroom.</p>
    <p>Since its official release in 2005, Django has grown into a popular framework that emphasizes reusable code, a comprehensive built-in admin interface, and a focus on the DRY (Don't Repeat Yourself) principle, making it suitable for both small and large projects.</p>
{% endblock content %}
